parameters:
	ignoreErrors:
		-
			message: '#^Offset ''lote_proveedor'' might not exist on array\{id\: int, lote_proveedor\?\: string\|null, ubicacion_id\?\: int\|null, ubicacion_detalle_id\?\: int\|null, producto_id\?\: int, producto_variante_id\?\: int\|null, cantidad_recibida\?\: float, fecha_vencimiento\?\: string\|null\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: app/BusinessLogic/Inventario/Servicios/CreadorLoteRecepcion.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: app/Filament/Resources/Compras/Solicitudes/Pages/AprobarSolicitud.php

		-
			message: '#^Parameter \#2 \$itemsAprobados of method App\\Interactors\\Compras\\Solicitudes\\AprobarSolicitud\:\:ejecutar\(\) expects list\<array\{id\: int, cantidad_aprobada\: float\|int\|string\}\>, list\<array\{id\: int, cantidad_aprobada\: mixed\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Filament/Resources/Compras/Solicitudes/Pages/AprobarSolicitud.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: app/Http/Controllers/AutenticacionController.php

		-
			message: '#^Parameter \#1 \$paginator of method App\\Http\\Controllers\\PublicPageController\:\:formatearPaginacion\(\) expects Illuminate\\Pagination\\LengthAwarePaginator\<int, mixed\>, Illuminate\\Pagination\\LengthAwarePaginator\<int, array\<string, mixed\>\> given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/PublicPageController.php

		-
			message: '#^Property App\\Repository\\Models\\Compras\\DevolucionItem\:\:\$unidad_medida_id \(int\<0, max\>\|null\) does not accept int\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Repository/Models/Compras/DevolucionItem.php

		-
			message: '#^Using nullsafe property access "\?\-\>unidad_medida_id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Repository/Models/Compras/DevolucionItem.php

		-
			message: '#^Parameter \#1 \$datos of class App\\Exports\\Servicios\\HistoricoPreciosExport constructor expects Illuminate\\Support\\Collection\<int, mixed\>, Illuminate\\Support\\Collection\<int, stdClass\> given\.$#'
			identifier: argument.type
			count: 1
			path: app/Repository/Queries/Servicios/Reportes/GenerarHistoricoPreciosExcel.php

		-
			message: '#^Parameter \#1 \$attributes of method Illuminate\\Database\\Eloquent\\Relations\\HasOneOrMany\<App\\Repository\\Models\\Compras\\RecepcionItem,App\\Repository\\Models\\Compras\\RecepcionCompra,Illuminate\\Database\\Eloquent\\Collection\<int, App\\Repository\\Models\\Compras\\RecepcionItem\>\>\:\:create\(\) expects array\<string, mixed\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: database/seeders/ProcurementFlowSeeder.php
