includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phpstan-errors-baseline.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/

    excludePaths:
        analyseAndScan:
            - database/migrations/2026_05_13_012048_create_permission_tables.php (?)

    level: 9
